ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #2a772a;
    padding: 0;
    margin: 0;
}
li{
    float: left;
}
li a{
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: Arial, serif;
}
li a:hover{
    background-color: purple;
}

body{
    background-color: black;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    height: 400px;
}